@model EventfulSearch.Models.SearchResponse

@Html.LabelFor(m => m.TotalNumberOfEvents)

@foreach (var e in Model.Events)
{
	<div>
		<h4>@e.EventTitle</h4>
		<p>@e.ArtistsOrTeams</p>
		<p>@e.EventDate</p>
		<a href="@e.EventMainImageUrl"></a>
		<p>@e.VenueName</p>
		<hr />
	</div>
}



