@model EventfulSearch.Models.SearchRequest

	@{
		ViewBag.Title = "Event Calender";
	}

	@using (Html.BeginForm())
	{
		@Html.ValidationSummary(true)

		<div class="editor-label">
			@Html.LabelFor(model => model.Address)
		</div>
		<div class="editor-field">
			@Html.EditorFor(model => model.Address)
		</div>

		<div class="editor-label">
			@Html.LabelFor(model => model.StartDate)
		</div>
		<div class="editor-field">
			@Html.EditorFor(model => model.StartDate)
		</div>

		<div class="editor-label">
			@Html.LabelFor(model => model.EndDate)
		</div>
		<div class="editor-field">
			@Html.EditorFor(model => model.EndDate)
		</div>

		<div class="editor-label">
			@Html.LabelFor(model => model.Radius)
		</div>
		<div class="editor-field">
			@Html.EditorFor(model => model.Radius)
		</div>

		<div class="editor-label">
			@Html.LabelFor(model => model.Category)
		</div>
		<div class="editor-field">
			@Html.EditorFor(model => model.Category)
		</div>

		<p>
			<input type="submit" value="Save" />
		</p>
	}