@model EventfulSearch.Models.SearchRequest

@{
	ViewBag.Title = "Event Calender";
}


@using (Html.BeginForm())
{
	@Html.ValidationSummary(true)

	<div class="editor-label">
		@Html.LabelFor(model => model.Address)
	</div>
	<div class="editor-field">
		@Html.TextBoxFor(model => model.Address)
		@Html.ValidationMessageFor(model => model.Address)
	</div>

	<div class="editor-label">
		@Html.LabelFor(model => model.StartDate)
	</div>
		<div class="editor-field">
			@Html.TextBoxFor(model => model.StartDate, "{0:MM/dd/yyyy}", new { @id = "datepicker" })
			@Html.ValidationMessageFor(model => model.StartDate)
		</div>

		<div class="editor-label">
			@Html.LabelFor(model => model.EndDate)
		</div>
		<div class="editor-field">
			@Html.TextBoxFor(model => model.EndDate, "{0:MM/dd/yyyy}", new { @id = "datepicker" })
			@Html.ValidationMessageFor(model => model.EndDate)
		</div>

		<div class="editor-label">
			@Html.LabelFor(model => model.Radius)
		</div>
		<div class="editor-field">
			@Html.TextBoxFor(model => model.Radius)
			@Html.ValidationMessageFor(model => model.Radius)
		</div>

		<div class="editor-label">
			@Html.LabelFor(model => model.Category)
		</div>
		<div class="editor-field">
			@Html.ValidationMessageFor(model => model.Category)
		</div>

		<input type="submit" value="Search" class="btn btn-default"  />

		<div>
			event 1 
			event 2
		</div>
}
